In [1]:
import pandas as pd

In [4]:
df_Q_original = pd.read_csv(r'C:\Users\gizem\Desktop\master_thesis\source\_data\inference_sampling\1585514643_3sec_10traj_5model_functionPolicy\dataset\traj_1\Q_traj.csv', index_col=0)

In [7]:
df_Q_inferenced = pd.read_csv(r'C:\Users\gizem\Desktop\master_thesis\source\_data\inference_sampling\1585514643_3sec_10traj_5model_functionPolicy\inference\obs_model_0\traj_1\Q_traj.csv', index_col=0)

In [11]:
df_Q_original.tail(20)

                 00         01        10        11   t_delta
2.916540 -25.765767  25.765767  4.963846 -4.963846  0.002824
2.919364 -25.664461  25.664461  5.044183 -5.044183  0.000636
2.920000 -25.642075  25.642075  5.061935 -5.061935  0.010000
2.930000 -25.308680  25.308680  5.326323 -5.326323  0.005757
2.935757 -25.131718  25.131718  5.466657 -5.466657  0.004243
2.940000 -25.007749  25.007749  5.564966 -5.564966  0.010000
2.950000 -24.735400  24.735400  5.780943 -5.780943  0.004486
2.954486 -24.621611  24.621611  5.871180 -5.871180  0.002872
2.957358 -24.551278  24.551278  5.926955 -5.926955  0.002642
2.960000 -24.488259  24.488259  5.976930 -5.976930  0.010000
2.970000 -24.263386  24.263386  6.155257 -6.155257  0.010000
2.980000 -24.058222  24.058222  6.317956 -6.317956  0.001138
2.981138 -24.036012  24.036012  6.335569 -6.335569  0.008862
2.990000 -23.870535  23.870535  6.466794 -6.466794  0.010000
3.000000 -23.698378  23.698378  6.603318 -6.603318  0.023308
3.023308 -23.348264  23.348264  6.880964 -6.880964  0.000408
3.023715 -23.342700  23.342700  6.885376 -6.885376  0.207986
3.231702 -21.795084  21.795084  8.112660 -8.112660  0.392479
3.624180 -21.052789  21.052789  8.701312 -8.701312 -0.382479
3.865543        NaN        NaN       NaN       NaN       NaN

In [10]:
df_Q_inferenced

                 00         01        10        11   t_delta
0.000000 -23.200876  23.200876  6.997845 -6.997845  0.010000
0.010000 -22.923513  22.923513  7.217798 -7.217798  0.010000
0.019741 -22.687947  22.687947  7.404606 -7.404606  0.009741
0.020000 -22.682108  22.682108  7.409236 -7.409236  0.000259
0.030000 -22.471862  22.471862  7.575964 -7.575964  0.010000
...             ...        ...       ...       ...       ...
2.970000 -24.263386  24.263386  6.155257 -6.155257  0.010000
2.980000 -24.058222  24.058222  6.317956 -6.317956  0.010000
2.981138 -24.036012  24.036012  6.335569 -6.335569  0.001138
2.990000 -23.870535  23.870535  6.466794 -6.466794  0.008862
3.000000 -23.698378  23.698378  6.603318 -6.603318  0.010000

[351 rows x 5 columns]